.DS_Store
data
P2/university_towns.txt
P2/BL-Flickr-Images-Book.csv
P2/olympics.csv
P3/response_1575228952746.json
P3/response_1575208342694.json
P3/eksempel.json
P3/.ipynb_checkpoints/Portfolio3-checkpoint.ipynb
